@model FlightTicketBookingSystem.Models.TicketReserve_tbl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}


     
<!-- //header-ends -->
<!-- main content start-->
<div id="page-wrapper">
    <div class="main-page">
        <h2 class="title1">Details</h2>
        <div class="blank-page widget-shadow scroll" id="style-2 div1">
            <h2></h2>

            <div>
                <h4>TicketReserve_tbl</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Plane_tbls.APlaneName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Plane_tbls.APlaneName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Resfrom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Resfrom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ResTo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ResTo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ResDepDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ResDepDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ResTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ResTime)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PlaneSeat)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PlaneSeat)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ResTicketPrice)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ResTicketPrice)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ResTicketType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ResTicketType)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Next", "Create", "CustomersBookingDetails")
                
            </p>
            @*<ul>
                @{
                    if (User.IsInRole("Abhi12"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = Model.ResId }) |
                        @Html.ActionLink("Back to List", "Index");
                    }
                }

            </ul>*@
        </div>
    </div>
</div>